.posts_list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.post__item{
    border: 1px solid #5abce8;
    border-radius: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.post__content{
    display: block;
}
.post__btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
